html, body{margin: 0; padding:0;}
/*nav*/

/*Body*/
body {background-color: #128f76; margin:auto;}
p, article, li, strong{color: #6c6c6c}
.color{color:#18bc9c;}
.inherit{padding: inherit;}
.clear{clear:both;}

/*sns icon*/
.icon a{color:white; font-size: 25px; }
.icon{color:white; text-align: center; margin: auto;}
.container-pills{text-align: center; margin: 25px 0; color:white;}

/*cv form*/
.cv-wrapper{background-color: white; border-radius: 8px; padding:28px 51px; min-width: 784px; width:1024px; margin: auto;}

/*about me*/
img{width:159.66px; height: 159.66px; border:5px solid white; box-shadow: 0 0 5px 2px #ccc; float:right;}

/*contact*/
.iconbox{width: 30px; height:30px; padding:5px; background-color: #18bc9c; float:left; text-align: center;}
.contact-icon{padding-bottom: 10px;}

/*progress-bar*/
.progress{height:2px;}

/*download button*/
.btn-outline-success{border-radius:0; color:#18bc9c; border-color: #18bc9c; background-color: transparent;}
