.top-header{
  color:#fff;
  padding: 1.3rem 2rem;
  box-sizing: border-box;
  background-color: rgba( 49, 85, 112, 0.5 );
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  .top-header_logo{
    width: 230px;
    height: 115px;
    background-color:  #2A4B66;
    position: fixed;
    top: 0;
    left: 1rem;
  }
  .top-header_nav-text{
    padding-right: 1.375rem;
    font-size: 0.875rem;
    color: #fff;
  }

}
