.large-hero {
  width: 100%;
  margin: 0;
  padding: 0;

  &__title{
    color: #33556F;
    display: flex;
    justify-content: center;
  }
  .large-hero__text-box{
  position: absolute;
  top:25%;
  width: 100%;
  margin: 0;
  }
  h1, h2{
    color: #33556F;
    display: flex;
    justify-content: center;
    font-weight: 100;
    margin: 0;
  }
  h1{
    font-size: 4.5rem;
  }
  h2{
    font-size: 2.9rem;
  }
  p{
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: center;
    color:#fff;
  }
}
.large-hero__img{
  border-bottom: 10px solid #33556F;
  width: 100%;
  padding: 0;
  margin: 0;
}
