.chat__section_row img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding-right: 10px;
}
.chat__section_row{
  display: flex;
  justify-content: flex-start;
  padding: 15px 0 15px 10px;
}
.chat__section_row:last-child{
  border-bottom: 1px solid #EEEEEE;
}
.chat__section_column, .chat__column-top, .chat__column-bottom{
  width: 100%;

}
.chat__column-top{
  display: flex;
  justify-content: space-between;
}
.chat__top-right{
  margin-right: 10px;
}
.chat__name{
  font-weight: bold;
  font-size: 20px;
}
.chat__text-date{
  color: #C2C2C2;
  font-size: 13px;
}
.chat__text{
  color: #8E8E8E;
  font-size: 14px;
}
