.menu-bar{
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-around;
  padding: 25px 0 25px 0;
}
.menu-bar__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  border-left: 1px solid #999999;
  border-collapse: collapse;
}
.menu-bar__box:first-child{
  border:none;
}
.menu-bar i{
  color: #513636;
}
.menu-bar__text{
  padding-top: 15px;
  font-size: 12px;
}

.find__section_title{
  color: #C1C1C1;
  border-bottom: 1px solid #EEEEEE;
  font-size: 13px;
  padding: 10px 15px 10px 15px;
  margin: 0;
}
.find_row_name{
  color: #C1C1C1;
  font-size: 20px;

}
.find__section_row{
 width: 100%;
 text-align: center;
 border-bottom: 1px solid #EEEEEE;
 padding: 25px 0 25px;
}
