.friends__section_header{
    padding: 5px 15px 5px;
    border-bottom: 1px solid #EEEEEE;
}
.friends_row_name{
  font-size: 20px;
}
.friends__section_title{
  margin: 0 0 0 0;
  font-size: 13px;
  color: #C1C1C1;
}
.friends__section_row{
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: space-between;
}
.friends__section_row:last-child{
  border-bottom: 1px solid #EEEEEE;
}
.friend__section_column{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.friends__section_row img{
  border-radius: 50%;
  width:50px;
  height: 50px;
  margin-right: 15px;
}

.friends_comment{
  border: 1px solid #F0F0F0;
  background:#F0F0F0;
  font-size: 12px;
  padding:13px;
  color: #797979;
  border-radius: 6px;
  position:relative;
}
/*comment box arrow start*/
.friends_comment:after{
  right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.friends_comment:after{
  border-color: rgba(240, 240, 240, 0);
	border-right-color: #f0f0f0;
	border-width: 10px;
	margin-top: -3px;
}
/*comment box arrow end*/
.friends_row_link{
  text-decoration: none;
  color: black;
}
.friends__section_line{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid #EEEEEE;
  padding: 0;
  margin: 0 0 0 80px;
}
