.top-header{
  background: #493031;
  color:#fff;
  position:fixed;
  top:0;
  width:100%;
  margin: 0;
}
.header__top, .header__bottom{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.header__top{
  font-size: 12px;
  margin: 5px 10px 5px 10px;
}
.header__bottom{
  font-size: 24px;
  padding:10px 15px 10px;
}
.header__text-number{
  color:#FEE934;
}
.header__column{
  text-align: center;
}
.header__column-link{
  text-decoration: none;
  color:#fff;
}
