.chat__icon{
  height: 40%;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
}
.icon__menu{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}
.icon__menu-box{
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.icon__menu-box i{
  color: #543F3F;
}
.icon__text{
  text-align: center;
}
