.tap-bar{
  background: #F7F7F7;
  display:flex;
  justify-content: space-around;
  position: fixed;
  bottom:0;
  width: 100%;
  border-top: 1px solid #FFFFFF;
}
.tap-bar__tab{
  display: flex;
  flex-direction:column;
  text-decoration: none;
  color: #C1C1C1;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.tap-bar__tab i{
  font-size: 28px;
}
.tap-bar__text{
  padding-top: 5px;
  font-size: 13px;
}
.tap-bar__selected{
  color: #483032; 
}
