.profile__header{
  position: fixed;
  top:0;
  color:#fff;
  height: 60%;
  width: 100%;
  margin: 0;
  background-image: url("http://images.all-free-download.com/images/graphiclarge/blurred_golden_background_192849.jpg");
}
.header__column_direction{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
}
.header__bottom-size{
  height: 110%;
  width: 95%;
}
.user__img-name{
  padding-top: 15px;
  color:black;
}
.user__img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
