.search-bar{
  width:100%-20px;
  background: #EEEEEE;
  border-bottom: 1px solid #F1F1F1;
  padding:10px 10px 10px;
  margin-bottom: 0;
}
.search-bar__box{
  border-radius: 5px;
  border-style: none;
  width:100%;
  box-sizing: border-box;
  padding: 12px 20px 12px;
  margin: 0;
  text-align: center;
  font-family:Arial, FontAwesome;
  font-size: 20px;
}
.search-bar__box:focus{
  text-align: left;
}
