
/* body 기본 설정*/
body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
}
.width100{
  width:100%;
}
section{
  width:1170px;
}
h4, h3{
  text-transform: uppercase;
}
p,.article_box span, .footer_bar_link:hover{
    color: #75737f;
}
.container, div, .section_foot ul{
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
.clear{
  clear:both;
}
/*리스트 스타일*/
ul{
  list-style: none;
}
/* 넓이*/
.row1{
  width: 1200px;
  margin: auto;
}
/*주황색 배경*/
.donate_button,.section_arrow:hover, .main_button:hover,.testimonials_contents{
    background-color:#fa6f1c;
}
/*주황색 글씨*/
.nav ul li a:hover,.latest_news_contents a:hover, .main_button,.latest_news_contents h4:hover, footer table tr td a:hover{
  color:#fa6f1c;
}
/*검정 글씨*/
.nav a, .article_box h4,.staff_item_action a{
  color:black;
}
/*주황색 밑줄*/
.section_title::after, footer h4::after, #icon_heartbeat::before, #icon_heartbeat::after{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    margin: 16px 0 35px;
    background: #fa6f1c;
}
/*연주황 밑줄*/
.testimonials_contents_footer::before{
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  margin: 30px auto 30px;
  background: #fc8f30;
}
/*회색 밑줄*/
.section_title_foot::after{
  content:'';
  display:block;
  position:relative;
  height:1px;
  overflow: hidden;
  background: #dddbe8;
  top:11px;
}
/*회색 진한 글씨*/
.article_box p,.event_info span, footer table tr td a{
  color: #52505b;
}
/*흰 글씨*/
.bar .donate_button a, .main_button:hover,footer h4,.social_item_action a:hover,.testimonials_contents{
  color:white;
}

/*버튼*/
/*주황색 메인버튼*/
.main_button{
  border: 2px solid #fa6f1c;
  background-color: transparent;
  text-transform: uppercase;
  padding: 11px 15px 12px;
  font-weight: bold;
  font-size: 14px;
}
.bar .donate_button a{
  font-weight: bold;
}
.bar .donate_button:hover{
  background-color: #27262c;
}
.article_box .main_button{
  margin-top: 20px;
}
/* bar */
.bar{
  height: 44px;
  padding: 0 10px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #edebf5;
  color:#7b7983;
}
.bar_phone{
  width:280px;
  float:left;
  padding-top: 10px;
}
.bar ul, .nav ul, .right{
  float: right;
}
.bar ul li{
    border-left: 1px solid #edebf5;
    height: 44px;
    width: 50px;
    padding: 10px;
    text-align: center;
}
.bar ul li:hover{
  background-color: #edebf5;
}
.bar ul li a{
  text-align: center;
  color: #7b7983;
}

/*nav*/
.nav{
  height: 102px;
  font-weight: 500;
  padding: 30px;
}
.left, .bar ul li, .nav ul li,.section_title,.section_foot ul li div, .imagebox, .article_box,footer ul li{
    float: left;
}

.nav ul li a{
    margin-left: 30px;
}
/*dropbox*/
.dropdown{
  position: absolute;
}
.dropbox_contents{
  display: none;
  background: #27262c;
  width:240px;
  padding:26px 0 30px;
  position: absolute;
  top:100%;
}
.dropbox_contents p a{
  color:white;
  text-transform: uppercase;
  line-height: 2.5;
}
.dropbox_contents p a:hover{
  text-decoration: none;
  color:white;
}
.dropdown:hover .dropbox_contents{
  display: block;
}

/*item inner box*/
.item_inner_box1{
  max-width: 500px;
  max-height: 300px;
  background-color: #fa6f1c;
  color: white;
  position: absolute;
}
/*featured news*/
.section_title{
  font-size: 18px;
  font-weight: bold;
}
.section_head{
  margin-top: 50px;
}
.section_active{
  float:right;
}
.section_arrow{
  height: 38px;
  width: 41px;
  border: 1px solid black;
  float:left;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  background: transparent;
}
.section_title_foot{
  margin-top: 30px;
  margin-bottom: 40px;
}
.article_box{
  width:400px;
  margin-left: 20px;
}

.article_box p{
  font-size: 14px;
  line-height: 1.75;
  display: block;
  text-align: justify;
}
.article_slidebar{
  margin-bottom: 10px;
  margin-top: 30px;
}

/*latest news*/
.latest_news_contents{
  width: 162.5px;
  margin: 0 25px 0 15px;
  padding: 0;
}
.latest_news_contents h4, .staff_info h4{
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  color: black;
}
.latest_news_contents p,.article_box span{
  font-size: 15px;
  font-weight: normal;
  line-height: 1.75;
}
/*feature_cause_contents*/
.featured_cause_contents h3{
  font-size: 16px;
}
/*staff*/
.staff_img, .staff_info{
  width:292px;
  height: 248px;
  border:1px solid #f0eeee;
}
.staff_info{
  text-align: center;
  padding:50px 30px 0;
}
.staff_item_action{
  font-size: 15px;
}
.staff_item_action::before{
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  margin: 32px auto 10px;
  background: #fa6f1c;
}
.staff_info:hover{
  background: #fa6f1c;
  color: white;
}
/*testimonial*/
.testimonials,.featured{
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}
.testimonials h2,.featured h2{
    font-size: 25px;
}

/*testimonials_contents*/
.testimonials_contents{
  padding: 60px 0 41px;
  position: relative;
      text-align: center;
}
.testimonials_contents p{
    color:white;
    font-size: 21px;
    font-style: italic;
}
.testimonials_contents_footer{
  padding-bottom: 20px;
}

/*event*/
.event_info{
  margin-top: 30px;
}
.event_info span{
  line-height: 2.5;
}
/*footer1*/
.footer1{
  background: black;
  height: 170px;
}
.footer1 button{
  position: relative;
}
.footer1 h2{
  color:white;
  font-size: 25px;
  padding-top: 40px;
  width: 570px;
}
.footer1_operator span{
  width: 43px;
  height: 43px;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  background: #54525e;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height: 43px;
      font-size: 12px;
      position: relative;
      margin: auto 30px;
}
.footer1_operator span::after{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background:  #54525e;
    margin-top: -23px;
    margin-left: 33px;
    position: absolute;
}
.footer1_operator span::before{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background:  #54525e;
    box-sizing: inherit;
    margin-left:-30px;
    margin-top: 20px;
    position: absolute;

}

/*footer*/
footer{
  padding: 85px 0;
  background: #27262c;
  color: #a6a6a9;
}

/*footer{
background-image: url(/wp-content/themes/charity-wpl/assets/images/footer-bg.png) no-repeat center 0;);
  }*/
 footer table tr td{
   width: 135px;
   height: 34px;
   padding-top: 0;
 }
 footer table tr td a{
   text-transform: uppercase;
}
.footerbox p span{
  color:white;
}
/*footer bar*/
.footer_bar{
  background: #222126;
  padding: 15px 0;
}
.social_item_action a{
  color: #75737f;
  font-size: 18px;
}
